.first-color {
    background: #011f4b;
}

.second-color {
    background: #03396c;
}

.third-color {
    background: #005b96;
}

.fourth-color {
    background: #6497b1;
}
.fifth-color{
    background: #b3cde0;
}